* {
  margin: 0;
}

.hero {
  background-image: url("/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  height: 1000px;
}

.logo {
  width: 446px;
  height: 200px;
}
