@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

* {
  margin: 0;
}

h1 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  cursor: pointer;
}

h2:active {
  color: #c1c1c1;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 165px;
  background-image: url("/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  height: 100vh;
}

.logo {
  width: 250px;
  height: 100px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 145px;
  background: none;
}

.right-top-header {
  display: flex;
  align-items: center;
  gap: 60px;
}

.randomize-btn {
  border-radius: 4px;
  color: #fff;
  background-color: #767ca5c3;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.randomize-btn:active {
  background-color: #6370c6c3;
  box-shadow: 5px 3px 3px rgb(181, 179, 179);
  transform: translate(0px, -4px);
}

.hero-pitch {
  font-size: 1.2rem;
  width: 400px;
  padding: 0 145px;
}
