.suggestions-body {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d7dbf7;
  color: #fff;
  gap: 2rem;
}

.suggestion-cards {
  display: flex;
  gap: 2rem;
}

.like-btn {
    color: black;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.suggestion-card {
  position: relative;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 500px;
  border: 1px solid;
  box-shadow: 5px 3px 3px rgb(181, 179, 179);
}

.synopsis {
  font-size: 1.1rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #d7dbf7 #fff;
}

.like-btn {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
}
